.alerta {
    background-color: red;
    text-decoration: dotted;
    font-size: 40px;
    font-weight: 700;
    color: aliceblue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    box-shadow: 20px 5px  3px black;
    
}

.sucesso {
    display: none;
}